.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 25%;
}

@media only screen and (min-width: 768px) {
  .player-wrapper {
    position: relative;
    padding-top: 56.25%;
    /* Player ratio: 100 / (1280 / 720) */
  }

  .react-player {
    position: absolute;
    top: 0;
    left: 25%;
  }

  .questionAns {
    /* margin-top: -25rem; */
    z-index: 5 !important;
  }

  .title_top {
    margin-top: -10rem;
    margin-bottom: 5rem;
  }
}
